<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/sale.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        
        $(document).ready(function () {
            function getDate() {
                const date = new Date();

                let day = date.getDate();
                let month = date.getMonth() + 1;
                let year = date.getFullYear();

                // This arrangement can be altered based on how we want the date's format to appear.
                return year + "-" + month + "-" + day;
            }

            $("#dshd").click(function (event) {
                event.preventDefault(); // Prevent the default link behavior

                // Get today's date and format it as "ddMMyy"
                var today = getDate();                

                // Build the URL with the date parameters and navigate to it
                var url = '/HoaDons/DanhSachHoaDon?dateStart=' + today + '&dateEnd=' + today;
                window.location.href = url;
            });
        });
        
    </script>
    <script src="~/Scripts/layBH.js"></script>
</head>
<body>
    <header class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="#">                    
                    <span>
                        Bán hàng
                    </span>
                </a>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="~/HangHoas/Index">Quản lý <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/HoaDons/Create">lập hoá đơn </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="dshd" href="#">xem danh sách hoá đơn </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/DangNhap/LogOut"> đăng xuất </a>
                            </li>                                                      
                        </ul>                       
                    </div>                    
                </div>
            </nav>
        </div>
    </header>
    <div class="content">
        @RenderBody()
    </div>
</body>
</html>
