
.container-fluid {
    background-color: #405cf5;
    border-block-end: 2px solid white;
}

    .header_section .container-fluid {
        padding-right: 25px;
        padding-left: 25px;
    }

    .header_section .nav_container {
        margin: 0 auto;
    }

    .header_section .quote_btn-container a {
        color: #f6f8f7;
        text-transform: uppercase;
    }

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 30px;
    color: #f6f8f7;
    text-align: center;
    font-size: medium;
    text-transform: uppercase;
    font-weight: bold;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}



.btn,
.btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-brand,
.navbar-brand:hover {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: #fafcfd;
}

.custom_nav-container .nav_search-btn {
    background-image: url(../images/search-icon.png);
    background-size: 22px;
    background-repeat: no-repeat;
    background-position-y: 7px;
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
}

.navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

    .navbar-brand img {
        width: 30px;
        margin-right: 5px;
    }

    .navbar-brand span {
        font-size: 20px;
        font-weight: 700;
        color: #f6f8f7;
        margin-top: 5px;
    }

.custom_nav-container {
    z-index: 99999;
    padding: 5px 0;
}

    .custom_nav-container .navbar-toggler {
        outline: none;
    }

        .custom_nav-container .navbar-toggler .navbar-toggler-icon {
            background-image: url(../images/menu.png);
            background-size: 55px;
        }
.navbar-nav {    
    list-style-type: none;
    float: right;
    height:fit-content;
    padding:2% 0 0 0 ;

}

#nav2 {
    display: flex;
    width: fit-content;
    margin:0 auto;
       
}
    #nav2 a {
        padding: 8px 20px;
        display: block;
        flex-wrap: wrap;
        margin: 8px 16px;
        text-align: center;
        font-size: large;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        background: #00c9b7;

    }
.btnroute {
    width:180px;
    border-radius:10px;
}

    .btnroute:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
